<!DOCTYPE html>
<html>
    <head>
        <title>Conway's Multiplayer Game of Life</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="js/lib/require.min.js" data-main="js/main.js"></script>
    </head>
    <body>
        <h1>Conway's Multiplayer Game of Life</h1>
        <div id="game">

        </div>
    </body>
</html>